.container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
    text-align: center
}

.user-search {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding-top: 20px;
}

.form-control {
    width: 50%;
    margin: auto;
}

.rounded-image {
    border-radius: 50%;
}

.navbar-light .navbar-nav .nav-link {
    color: #FFFFFF;
}

.navbar-light .navbar-brand {
    color: #FFFFFF;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgba(255,255,255,.5);
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #FFFFFF;
}

ul {
  list-style-type: none;
}


.contact-card {
    background-color: rgba(0,255,255,.1);
    border: solid 1px black;
    word-wrap: break-word;
    border-radius: 5px;
    box-shadow: 5px 6px 6px 2px #e9ecef
}

.username {
    position: relative;
    bottom: 8px;
    color: grey
}

.head {
    color: #97989a;
    font-size: 12px
}

.bottom {
    color: grey;
    font-size: 14px
}