{% extends 'base.html' %}

{% block content %}
<h1 class="text-center">{{user.login}}</h1>
<p>Location: {{user.location}} - For Hire: {% if user.hireable %} ✅  {% else %} ❌ {% endif %}</p>


{% if repos %}
{% for repo in repos[:5] %}
<p><a href="https://github.com/{{repo.full_name}}">{{repo.name}}</a></p>
{% endfor %}
{% endif %}

<h3>Within the above repositories the following languages were used:</h3>
{% if languages %}
    {% for k, v in languages|dictsort(by='value', reverse=True) %}
        <p>{{k}} - {{(v / total * 100)|round()}}%</p>
    {% endfor %}
{% endif %}

{% if logged_in %}
    <a href="{{url_for('save_user', username=user.login)}}" class="btn btn-primary">Save User</a>
{% endif %}

{% endblock %}