{% extends "base.html" %}

{% block content %}

<h1>Hi potential future colleague!</h1>
<p>After spending a while coming up with ideas for a project, and finding out the limitations of the github API, I started building this site.</p>
<p>Here are some of the different functionalities I used:</p>
<ul class="list-group">
    <li class="list-item">Authentication</li>
    <li class="list-item">Persisting Data</li>
    <li class="list-item">CRUD on said data</li>
    <li class="list-item">API use</li>
    <li class="list-item">Full Stack development</li>
</ul>

{% endblock %}