{% extends 'base.html' %}

{% block content %}

<h1 class="pb-5 pt-5">Saved Users</h1>
{% if users %}
{% for user in users %}
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-7">
            <div class="contact-card p-2 mb-5 text-center">
                <div class="row">
                    <div class="col-md-7 border-right no-gutters">
                        <div class="py-3"><img src="{{user.avatar_url}}" width="100" class="rounded-circle">
                            <h4 class="text-secondary">{{user.name}}</h4>
                            <div class="username"><span>username: {{user.login}}</span></div>
                            <div class="stats">
                                <table class="table table-borderless">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="d-flex flex-column"> <span class="text-left head">Hireable</span> <span class="text-left bottom">{% if user.hireable %} ✅  {% else %} ❌ {% endif %}</span> </div>
                                            </td>
                                            <td>
                                                <div class="d-flex flex-column"> <span class="text-left head">Location</span> <span class="text-left bottom">{{user.location}}</span> </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="d-flex flex-column"> <span class="text-left head">Email</span> <span class="text-left bottom">{{user.email}}</span> </div>
                                            </td>
                                            <td>
                                                <div class="d-flex flex-column"> <span class="text-left head">Company</span> <span class="text-left bottom">{{user.company}}</span> </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="px-3"><a href={{user.html_url}} target="_blank" class="btn btn-primary btn-block mb-2">Visit Github</a></div>
                            {% if user.twitter_username%}
                                <div class="px-3"><a href="https://www.twitter.com/{{user.twitter_username}}" target="_blank" class="btn btn-primary btn-block mb-2">Visit Twitter</a></div>
                            {% endif %}
                            <div class="px-3"><a href={{url_for('update_saved_user', user_id=user.id)}} class="btn btn-primary btn-block mb-2">Update Profile</a></div>
                            <div class="px-3"><a href={{url_for('delete_user', user_id=user.id)}} class="btn btn-primary btn-block">Delete Profile</a></div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="py-3">
                            {% if user.repositories %}
                                <div> <span class="d-block head font-weight-bold">{{user.name}}'s last 5 repositories:</span> </div>
                                <ul class="list-group pb-5">
                                {% for repo in user.repositories %}
                                    <li class="list-item"><a href="https://github.com/{{repo.full_name}}" target="_blank" >{{repo.name}}</a></li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                            {% if user.languages %}
                                <div> <span class="d-block head font-weight-bold pb-2 pt-2">Languages used in above repositories:</span> </div>
                                <ul class="list-group">
                                {% for k, v in user.languages|dictsort(by='value', reverse=True) %}
                                    <li class="list-item">{{k}} - {{(v / user.total_language * 100)|round()}}%</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
</div>
{% else %}
<p>You have no users saved yet.</p>
{% endif %}




{% endblock %}