{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<h1 class="text-center">Welcome to the Search Page</h1>
{{wtf.quick_form(form, button_map={"submit":"primary w-50"})}}
<div class="user-search">
    {% if users %}
    {% for user in users %}
    <div class="card text-center" style="width: 18rem;">
        <img src="{{user.avatar_url}}" class="card-img-top rounded-image" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{user.login}}</h5>
            <a href="{{url_for('details', username=user.login)}}" class="btn btn-primary">More Information</a>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>
    {% if request.method == "POST" and not users %}
    <p class="text-center">No users found with that name</p>
    {% endif %}

{% endblock %}
